@import "../../../_build/_variables";

.wmhc-navbar-top {
  a {
    @font-size: @font-size-base;
    text-transform: uppercase;
    .wmhc-font-semibold;
  }
  .navbar-brand {
    .wmhc-font-normal;
  }
  .navbar-brand > img {
    margin-top: -15px;
  }
}
