extends _layouts/default
block main
    .container

        //H1 block
        .row.padding-top-xxl
            .col-md-7
                h1 Heading 1
                p.wmhc-body-large.vdivider
                    | .wmhc-body-large even more excited to release our Wireframe Kit.
                    | The name speaks for itself and how you could’ve already guessed,
                    | Wireframe Kit is a perfect instrument for creating serious prototypes
                    | and complex web projects.
            .col-md-5
                .row.padding-top-xxl
                    .col-md-11.col-md-offset-1.padding-top-l
                        h6.margin-left-xl Heading 6
                        p.margin-left-xl.wmhc-body-small
                            | .wmhc-body-small is really small text for some blocks
                        h6.margin-left-xl Heading 6
                        p.margin-left-xl.wmhc-body-small
                            | .wmhc-body-small use at own risk


        // Gray block
        .row.margin-top-xxl.padding-top-xxl(style="background-color: #eee")


        //H2 block
        .row.padding-top-xxl
            .col-md-7
                h2 Heading 2
                p.wmhc-body-large
                    | .wmhc-body-large even more excited to release our Wireframe Kit.
                    | The name speaks for itself and how you could’ve already guessed,
                    | Wireframe Kit is a perfect instrument for creating serious prototypes
                    | and complex web projects.
        hr.divider
        .row.padding-top-l
            .col-md-4
                h5 Heading 5
                p.wmhc-body-small
                    | .wmhc-body-small  more than a hundred
                    | ready-to-use elements that you can combine
                    | to get the exact prototype you want
            .col-md-4
                h5 Heading 5
                p.wmhc-body-small
                    | .wmhc-body-small more than a hundred
                    | ready-to-use elements that you can combine
                    | to get the exact prototype you want
            .col-md-4
                h5 Heading 5
                p.wmhc-body-small
                    | .wmhc-body-small of more than a hundred
                    | ready-to-use elements that you can combine
                    | to get the exact prototype you want

        // Gray block
        .row.margin-top-xxl.padding-top-xxl(style="background-color: #eee")

        //H3 block
        .row.padding-top-xxl
            .col-md-7
                h3 Heading 3
                p
                    | .wmhc-body-medium even more excited to release our Wireframe Kit.
                    | The name speaks for itself and how you could’ve already guessed,
                    | Wireframe Kit is a perfect instrument for creating serious prototypes
                    | and complex web projects.


        h1 h1-test
        h2 h2-test
        h3 h3-test
        h4 h4-test
        h5 h5-test
        h6 h6-test
