.wmhc-reglementen {
  li {

    margin-top: 1rem;
    list-style: none;

    & span {
      font-weight: 500;
      color: #000000;
      padding-right: 15px;
    }

    table {
      margin-top: 1rem;
      & th {
        font-weight: 500;
        color: #000000;
      }
    }
  }
  table.bestuur td {
    padding: 0px 20px;
  }
}
