extends ../_layouts/default

block main

    .wmhc-hero-homepage
        .container

    .wmhc-landing-homepage
        .grass
        .container
            .landing
            .content
                .row
                    .col-md-12
                        h2 Voetbalplein VK trappen steels
                .row
                    .col-md-12
                        h2.smaller Recht tegenover Bergstraat 90, Belsele

                .row.entries
                    .col-md-12
                        .entry
                            span.day woensdag
                            span.time 12:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zaterdag
                            span.time 12:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zon en feestdagen
                            span.time 12:00-19:00

    .wmhc-club-info
        .container.padding-top-xxl.padding-bottom-xl
            .row
                .col-md-12
                    h3.text-center.padding-bottom-xl Wij zijn een club waar enkel met radiogestuurde modelhelikopters wordt gevlogen
                    p.wmhc-body-medium.text-center De wase modelHELICOPTERCLUB V.Z.W. is een club die zich uitsluitend bezig houd met radiogestuurde modelbouwhelicopters. De club is opgericht in het jaar 1988 op 21 Februari en telt 6 bestuursleden en 31 gewone leden.

    section.wmhc-motoren.visible-sm.visible-md.visible-lg
        .container
            .row
                .col-sm-6.vdivider.block-benzine-motor
                    .img.benzine-motor
                    h5.benzine-motor Wij vliegen met benzine en turbine modellen.
                    p Behalve in april, mei en juni, dan is er een vliegverbod voor verbrandingsmotoren.

                .col-sm-6.block-electro-motor
                    .img.electro-motor
                    h5 Alsook met elektrisch aangedreven toestellen
                    p Deze kunnen gans het jaar door gevlogen worden.

    .wmhc-club-detail
        .container

            .row.padding-top-xl

                .col-md-6
                    h5 Duur, doel, zetel,benaming.
                    p De vereniging heeft als doel diegene te verenigen die in een geest van zuiver liefhebberij en zonder winstgevend doel zich interesseren voor ontwikkeling en de beoefening van helicoptermodelbouw onder vorm van studie, bouw en besturing ervan.
                    p De vereniging zal ijveren om de modelbouwsport te populariseren, piloten te vormen en dit met alle wettelijke middelen haar ter beschikking.
                    p Haar zetel is tegenwoordig te Waasmunster in de Provincie Oost-Vlaanderen. De vereniging werd opgericht onder de naam "Wase modelHELICOPTERCLUB V.Z.W." En haar duur is onbeperkt.

                .col-md-6
                    h5 Zijn leden.
                    p Alle personen, welke interesse hebben voor de modelhelicopters en die na goedkeuring van het bestuur, het door het bestuur vastgelegde lidgeld betaalt hebben. het aantal leden kan beperkt worden, doch bestaande leden worden niet uitgesloten.

                    h5.padding-top-l Zijn ereleden.
                    p Personen die de vereniging willen steunen en de helft van het lidgeld betaald hebben. Elk lid verbind zich eenmaal per jaar naar de algemene vergadering te komen.

            .row.padding-top-l
                .col-md-12
                    h3.text-center.padding-bottom-l.padding-top-xl Hoe kan men lid worden ?
                    p Nadat een lid van de club u de belangrijkste informatie heeft gegeven zal hij u doorverwijzen naar de secretaris of voorzitter. Deze zal u persoonlijke gegevens noteren en u een jaarlijks lidgeld vragen van € 100. In dit bedrag is zowel uw lidmaatschap van de club als bij de (afgekort V.M.L.) inbegrepen. Het lidmaatschap bij de V.M.L. bewijst tevens dat u geniet van een verzekering welke uw burgelijke aansprakelijkheid tegenover derden dekt wanneer u een ongval veroorzaakt bij het uitoefenen van de modelluchtvaart.
                    p Nu wordt nog gevraagd het clubreglement te lezen en ... vliegen maar !



    .container
        .wmhc-divider.padding-bottom-xl.margin-top-xxl


    section.bestuur
        .container.padding-top-xl

            .row.padding-bottom-l
                .col-xs-12
                    h3.text-center Het bestuur

            .row
                .col-sm-6.col-md-4
                    .bestuurslid
                        .foto
                            img.center-block(src='/homepage/assets/bestuur/thierry.png')
                        .name.text-center.margin-top-m Thierry Verbrugge
                        h5.title.text-center.margin-top-s Voorzitter
                        .email.text-center(wmhc-email email='voorzitter')

                .col-sm-6.col-md-4
                    .bestuurslid
                        .foto
                            img.center-block(src='/homepage/assets/bestuur/jorg.png')
                        .name.text-center.margin-top-m Ackermann Jörg
                        h5.title.text-center.margin-top-s Ondervoorzitter
                        .email.text-center(wmhc-email email='ondervoorzitter')


                .col-sm-6.col-md-4
                    .bestuurslid
                        .foto
                            img.center-block(src='/homepage/assets/bestuur/silhouette.png')
                        .name.text-center.margin-top-m Freddy Van Overloop
                        h5.title.text-center.margin-top-s Secretaris
                        .email.text-center(wmhc-email email='secretaris')

            .row
                .col-sm-6.col-md-4
                    .bestuurslid
                        .foto
                            img.center-block(src='/homepage/assets/bestuur/sasha.png')
                        .name.text-center.margin-top-m Sacha De Maere
                        h5.title.text-center.margin-top-s Schatbewaarder
                        .email.text-center(wmhc-email email='schatbewaarder')

                .col-sm-6.col-md-4
                    .bestuurslid
                        .foto
                            img.center-block(src='/homepage/assets/bestuur/silhouette.png')
                        .name.text-center.margin-top-m Geert Westerlinck
                        h5.title.text-center.margin-top-s Terreinmeester
                        .email.text-center(wmhc-email email='terreinmeester')

