extends ../_layouts/default

block main

    .wmhc-hero-homepage
        .container

    .wmhc-landing-homepage
        .grass
        .container
            .landing
            .content
                .row
                    .col-md-12
                        h2 Voetbalplein VK trappen steels
                .row
                    .col-md-12
                        h2.smaller Recht tegenover Bergstraat 90, Belsele

                .row.entries
                    .col-md-12
                        .entry
                            span.day woensdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zaterdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zon en feestdagen
                            span.time 13:00-19:00

    .container
        .row.padding-top-xxl
            .col-md-12.padding-bottom-l
                h2.padding-top-m Symposium 2016
        .row.padding-bottom-xxl
            .col-md-7
                p.wmhc-body-large.vdivider
                    | Het is zover ! 30-31 juli houden we ons symposium.

                p.padding-top-l
                    | Gedurende deze 2 dagen zullen er tal van demonstraties gegeven worden met schaalmodellen, alsook 3D vluchten.
                    | Piloten van andere clubs kunnen ook gratis komen vliegen, voorafgaande registratie is niet nodig.

                img.padding-top-xl(src='/assets/2016-05-symposium/flyer-small.png')

            #bbq-inschrijving.col-md-5
                .row
                    .col-md-11.col-md-offset-1
                        h5.padding-bottom-l Barbecue
                        dl
                            dt Wanneer
                            dd zaterdag 30 juli om 19h00

                            dt.padding-top-m Volwassenen
                            dd 3 stuks vlees met groenten en brood
                                strong
                                    | &nbsp; 15 EUR

                            dt.padding-top-m Kinderen
                            dd 1 stuk vlees met groenten en brood
                                strong
                                    | &nbsp; 8 EUR

                        p
                            strong.red Inschrijvingen zijn afgesloten.
                        //--    strong.red (tem 26 juli)
                        //--a.btn.btn-danger(href="http://goo.gl/forms/8wZlBxiz8L", target="_blank") Inschrijven
