extends ../_layouts/default

block main

    //.wmhc-hero-video
        .video-overlay
        .video-content
            video(autoplay="" loop="" preload="auto")
                source(src="assets/test-loop.mp4" type="video/mp4")
                source(type="video/webm")
                source(type="video/ogg")
        .container
            .content
                .row
                    .col-md-12
                        h2 Voetbalplein VK trappen steels
                .row
                    .col-md-12
                        h2.smaller Recht tegenover Bergstraat 90, Belsele

                .row.entries
                    .col-md-12
                        .entry
                            span.day woensdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zaterdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zon en feestdagen
                            span.time 13:00-19:00

    .wmhc-hero-homepage
        .container

    .wmhc-landing-homepage
        .grass
        .container
            .landing
            .content
                .row
                    .col-md-12
                        h2 Voetbalplein VK trappen steels
                .row
                    .col-md-12
                        h2.smaller Recht tegenover Bergstraat 90, Belsele

                .row.entries
                    .col-md-12
                        .entry
                            span.day woensdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zaterdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zon en feestdagen
                            span.time 13:00-19:00

    .container
        .row.padding-top-xxl
            .col-md-12.padding-bottom-l
                h2.padding-top-m Symposium 2018
        .row.padding-bottom-xxl
            .col-md-7
                p.wmhc-body-large.vdivider
                    | Het is weer bijna zover ! 28-29 juli houden we ons jaarlijks symposium.

                p.padding-top-l
                    | Gedurende deze 2 dagen zullen er tal van demonstraties gegeven worden met schaalmodellen, alsook 3D vluchten en fpv racing.
                    | Piloten van andere clubs kunnen gratis komen vliegen, voorafgaande registratie is niet nodig.

                img.padding-top-xl(src='/assets/2018-06-symposium/wmhc-affiche-2018.jpg')

            #bbq-inschrijving.col-md-5
                .row
                    .col-md-11.col-md-offset-1
                        h5.padding-bottom-l Inschrijving BBQ ZA 28/7 om 19h
                        dl

                            dt.padding-top-m Volwassenen
                                strong
                                    | &nbsp; 20 EUR

                            dt.padding-top-m Kinderen
                                strong
                                    | &nbsp; 12 EUR
                        p
                            a.btn.btn-danger(href="https://goo.gl/forms/4A0QkZZ47CuOCRmN2", target="_blank") Inschrijven
                        p
                            strong.red Inschrijvingen (tem 25 juli)


