extends ../_layouts/default

block main

    //.wmhc-hero-video
        .video-overlay
        .video-content
            video(autoplay="" loop="" preload="auto")
                source(src="assets/test-loop.mp4" type="video/mp4")
                source(type="video/webm")
                source(type="video/ogg")
        .container
            .content
                .row
                    .col-md-12
                        h2 Voetbalplein VK trappen steels
                .row
                    .col-md-12
                        h2.smaller Recht tegenover Bergstraat 90, Belsele

                .row.entries
                    .col-md-12
                        .entry
                            span.day woensdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zaterdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zon en feestdagen
                            span.time 13:00-19:00

    .wmhc-hero-homepage
        .container

    .wmhc-landing-homepage
        .grass
        .container
            .landing
            .content
                .row
                    .col-md-12
                        h2 Voetbalplein VK trappen steels
                .row
                    .col-md-12
                        h2.smaller Recht tegenover Bergstraat 90, Belsele

                .row.entries
                    .col-md-12
                        .entry
                            span.day woensdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zaterdag
                            span.time 13:00-18:00
                .row
                    .col-md-12
                        .entry
                            span.day zon en feestdagen
                            span.time 13:00-19:00

    .container
        .row.padding-top-xxl
            .col-md-12.padding-bottom-l
                h2.padding-top-m Feestelijke opening van ons nieuw clubhuis
        .row.padding-bottom-xxl
                img.img-responsive.padding-top-xl(src='/assets/wmhc-webflyer-opening-kantine2018.jpg')



