extends ../_layouts/default

block main

    section.photo-albums(ng-controller="PhotoController")

        .container-fluid

            .col-sm-6.col-md-4.col-lg-3.album.ng-cloak(ng-repeat="album in albums", ng-click="openAlbum(album)")
                figure
                    .overlay
                    img(ng-src="{{album.thumbnail.url}}")
                    .title {{album.title}}
                    .summary {{album.summary}}
                    .photos {{album.photos}}
                    .date(am-time-ago="album.published")
