block variables
    - var menuActiveItem = current.path[0] || '';

doctype html
html(lang="en", ng-app="app")
    head
        meta(charset="utf-8")
        title= siteTitle
        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/build/css/app.css")
        link(href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900", rel="stylesheet", type="text/css")
        script(src="/vendor/html5shiv/html5shiv.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="/vendor/angular/angular.min.js")
        script(src="/vendor/angular-scroll/angular-scroll.min.js")
        script(src="/build/js/app.min.js")

    body
        include ../components/header/header
        main.wmhc-main
            block main
        include ../components/footer/footer
