extends ../../_layouts/default

block main

    .container

        section.padding-top-xxl.photos(ng-controller="AlbumController")

            .row
                h3 {{album.title}}

            .top
                .back(ng-click="openFotos()")
                    .icon


            ng-gallery(images="album.photos")
