extends ../../_layouts/default

block main

    .container

        section.padding-top-l.photos(ng-controller="AlbumController")

            .row.padding-bottom-m
                .back(ng-click="openFotos()")
                    .icon
                h3 {{album.title}}


            ng-gallery(images="album.photos")
