extends ../_layouts/default

block main

    .container.wmhc-reglementen.padding-top-xl

        h3.padding-bottom-xl.text-center Clubreglementen

        .panel.panel-default
            .panel-heading
                h3.panel-title 1. Bepaling
            .panel-body
                ul
                    li
                        span 1.01
                        | De WASE modelHELICOPTERCLUB V.Z.W., afgekort WmHC en hierna genoemde de vereniging, is een feitelijke vereniging opgericht te Sint-Niklaas op 1 oktober 1988, met goedkeuring van het stadsbestuur van Sint-Niklaas. De vereniging is aangesloten bij de “Vereniging voor Modelluchtvaart - VML”, onder het nummer 2

                    li
                        span 1.02
                        | De vereniging heeft tot doel de belangstelling voor de modelbouw en luchtvaart te bevorderen en zich in het bijzonder te wijden aan de beoefening en ontwikkeling van de modelhelikopterbouw in het algemeen en de daarmee verband houdende activiteiten.

                    li
                        span Middelen
                        | Het bundelen van belangstellenden; in de zuivere zin van liefhebber; in de modelhelicopterbouw in het algemeen, en dit zonder winstgevend doel. Het regelmatig beleggen van bijeenkomsten voor de leden ter gezamelijke beoefening en het geven van onderricht in de modelhelicopterbouw. Het toelaten en stimuleren aan de aangesloten leden deel te nemen aan nationale en internationale wedstrijden. Aanknopen van relaties met verenigingen met hetzelfde streefdoel, en het deelnemen aan symposia van bevriende clubs.



        .panel.panel-default
            .panel-heading
                h3.panel-title 2. Bestuur
            .panel-body
                ul
                    li
                        span 2.01
                        | De Leiding van de Wase modelHELICOPTERCLUB v.z.w. wordt gevormd door een bestuur. Het bestuur wordt gekozen door de leden.
                    li
                        span 2.02
                        | Het bestuur van de vereniging bestaat uit: een voorzitter, een ondervoorzitter, een secretaris, een penningmeester, een terreincommissaris en een aantal bestuurders. Zij hebben naast de verplichtingen als gewoon lid ook nog de verplichtingen na te leven eigen aan het bestuur van een club.
                    li
                        span 2.03
                        | Het bestuur neemt de organisatie en de werking van de club op zich voor een periode van minstens 3 jaar. Na deze ambtstermijn kan elk lid van de club zich kandidaat stellen voor een bestuursfunctie. Bij vertrek van een of meerdere bestuursleden wordt door stemming een opvolger aangeduid.
                    li
                        span 2.04
                        | Het bestuur kan voor het behoud en in het belang van de vereniging één of meerdere afgevaardigde bestuurders aanduiden. Deze afgevaardigde bestuurders, welke lid dienen te zijn van het bestuur, worden gekozen door het bestuur enkel en omwille van hun overkoepelende bestuursmogelijkheden, waarbij het behoud van de goede relaties binnen en buiten de vereniging de enige doelstelling is. Een afgevaardigde bestuurder mag echter nooit verbintenissen aangaan voor de vereniging zonder uitdrukkelijke goedkeuring van het bestuur.
                    li
                        span 2.05
                        | Het bestuur is verplicht minstens éénmaal per jaar een algemene vergadering te beleggen, waarop ook het kasverslag dient voorgelegd te worden.
                    li
                        span 2.06
                        | Het bestuur moet de leden informeren over wedstrijden en andere manifestaties ingericht door andere verenigingen, firma’s e.d.
                    li
                        span 2.07
                        | In geval van betwisting in situaties die niet vermeld zijn in onderhavig reglement, is het bestuur bij machte een beslissing te nemen die voor iedereen bindend is.
                    li
                        span 2.08
                        | Elke beslissing binnen het bestuur zal genomen worden bij eenvoudige meerderheid.


        .panel.panel-default
            .panel-heading
                h3.panel-title 3. Algemene vergadering
            .panel-body
                ul
                    li
                        span 3.01
                        | De algemene vergadering is reglementair bijeen ongeacht het aantal aanwezige leden, en dit voor zover alle leden een uitnodiging tot deze algemene vergadering ontvangen hebben.
                    li
                        span 3.02
                        | De vereniging zal ieder jaar in algemene vergadering bijeenkomen in een clublokaal of een ander vooraf door het bestuur te bepalen plaats. Alle aangesloten leden (in orde met hun bijdrage voor het komende jaar) zullen via een uitnodiging per brief, ten minste één week vooraf verstuurd, gevraagd worden hierop aanwezig te willen zijn. De oproep tot de algemene vergadering zal de datum, het uur, de plaats en de te bespreken punten op de agenda vermelden. Enkel de punten vermeld op de agenda kunnen besproken worden.
                    li
                        span 3.03
                        | De algemene vergadering is bevoegd om over volgende onderwerpen te beraadslagen:

                    li
                        ul
                            li
                                span 1.
                                | Statuutwijzigingen
                            li
                                span 2.
                                | Verkiezing bestuursleden
                            li
                                span 3.
                                | Goedkeuring van de rekeningen
                            li
                                span 4.
                                | Organisatie van wedstrijden of symposia

                    li
                        span 3.04
                        | De algemene vergadering wordt voorgezeten door de voorzitter, bij afwezigheid wordt hij vervangen door de ondervoorzitter of door een afgevaardigde bestuurder. De beslissingen van de algemene vergadering zullen genomen worden na geheime stemming en dit met een twee/derde meerderheid. Bij onbeslistheid, is de stem van de voorzitter van de algemene vergadering doorslaggevend.


        .panel.panel-default
            .panel-heading
                h3.panel-title 4. Financiën
            .panel-body
                ul
                    li
                        span 4.01
                        | De WASE modelHELICOPTERCLUB V.Z.W. moet in eigen middelen voorzien door het innen van lidgelden, het houden van symposia en andere organisaties. Ten einde volledig onafhankelijk te kunnen werken wordt afgezien van elke vorm van permanente sponsoring. Wel voorzien zijn de samenwerking met diverse firma’s en modelbouwzaken die zonder compensaties materialen of fondsen ter beschikking stellen voor symposia, wedstrijden of andere organisaties.
                    li
                        span 4.02
                        | De inkomsten van de club worden gestort op een zichtrekening bij een gekende financiële instelling waarvan de plaats bepaald wordt door de leden van het bestuur betrokken bij de financiële verplichtingen van de club. Eventuele renten komen volledig ten gunste van de clubkas, en zullen dienen ingeschreven te worden in het kasboek. In dit kasboek zullen tevens alle in- en uitgaven nauwkeurig genoteerd worden en gestaafd met de nodige bewijsstukken. Op de algemene vergadering wordt de financiële werking van de club voorgelegd onder de vorm van een kasverslag.
                    li
                        span 4.03
                        | Bij de ontbinding van de vereniging, wordt aan het netto actief van het vermogen van de vereniging, een bestemming gegeven die zoveel mogelijk overeenstemt met de geest van de vereniging en vastgesteld door het bestuur. In geval van betwisting geldt de stem van de afgevaardigd bestuurder.
                    li
                        span 4.04
                        | Alle punten die niet geregeld worden door de statuten zal de wet van 27 juni 1921 van toepassing zijn.


        .panel.panel-default
            .panel-heading
                h3.panel-title 5. Leden en Lidmaatschap
            .panel-body
                ul
                    li
                        span 5.01
                        | De WASE modelHELICOPTERCLUB V.Z.W., is een voor ieder vrij toegankelijke vereniging zonder politieke, religieuze of andere strekkingen, en dit in overeenstemming met de hierna vermelde voorwaarden.
                    li
                        span 5.02
                        | Lid is wie: aanvaard wordt door het bestuur, het opgelegde lidgeld betaald, zich onvoorwaardelijk onthoudt aan het reglement van inwendige orde, zelfs indien dit de wettelijke bepalingen nog verscherpt.
                    li
                        span 5.03
                        | Bij het niet naleven van de bepalingen onder 5.02 en het reglement van inwendige orde, kan een tijdelijke en zelfs definitieve schorsing tot gevolg hebben. Deze schorsing is een beslissing van het bestuur.
                    li
                        span 5.04
                        | Het aantal leden kan beperkt worden, doch zonder uitsluiting van de reeds eerder aangesloten leden. Deze ledenstop staat recht evenredig tot de bescherming en het voortbestaan van de vereniging en het behoud van onze vergunning, het terrein e.d. en zal uitsluitend bepaald worden door het bestuur. Het maximum aantal leden is vastgestel op 40. Eventuele kandidaat leden zullen op een wachtlijst worden opgenomen.
                    li
                        span 5.05
                        | Lidmaatschap van de WASE modelHELICOPTERCLUB V.Z.W. is een absolute noodzakelijkheid om van het vliegterrein gebruik te kunnen maken. Piloten vreemd aan de club kunnen slechts gebruik maken van het terrein indien zij uitgenodigd zijn door een lid van de vereniging, echter niet meer dan drie maal per seizoen, een geldige zendvergunning en een bewijs van verzekering kunnen voorleggen en na zorgvuldige controle van de frequentie en het model.
                    li
                        span 5.06
                        | Een nieuw seizoen vangt aan op 1 januari en eindigt op 31 december.
                    li
                        span 5.07
                        | Het lidgeld wordt bepaald aan de hand van de werkelijke en geraamde kosten, bij aanvang van een nieuw seizoen. In de loop van het jaar kan de bijdrage niet meer aangepast worden.
                    li
                        span 5.08
                        | Het lidgeld wordt gedurende het seizoen als volgt bepaald:

                        table.table.table-hover.pricing
                            thead
                                tr
                                    th  Periode
                                    th  Percentage lidgeld
                            tbody
                                tr
                                    td van 1 januari tot 31 juli
                                    td 100%
                                tr
                                    td van 1 augustus tot 30 september
                                    td 75%
                                tr
                                    td van 1 oktober tot 31 december
                                    td 50%

                    li
                        span 5.09
                        | Het bestuur van de WASE modelHELICOPTERCLUB V.Z.W. is verplicht ook de verzekeringspremie te innen in naam van de “Vereniging voor Modelluchtvaart -VML”. Deze bijdrage is vast ongeacht de datum van aansluiting.
                    li
                        span 5.10
                        | Elk nieuw lid dient een proefperiode van twee maand te doorlopen, welke aanvangt bij de aansluiting. Na deze periode wordt het lid automatisch opgenomen, indien er geen klachten of opmerkingen overgemaakt zijn aan het bestuur door andere leden. Het nieuw lid wordt evenwel verondersteld gedurende de proefperiode minimaal vier maal aanwezig te zijn geweest op het terrein met zijn materiaal en daadwerkelijk gevlogen te hebben.
                    li
                        span 5.11
                        | Er zijn geen beperkingen in zake leeftijd om tot de club toe te treden, zolang een optimale veiligheid kan bewaard worden.
                    li
                        span 5.12
                        | Een ontslagnemend of uitgesloten lid, noch de erfgenamen van een overleden lid hebben enig verhaal op de bezittingen van de vereniging. Bedoelde personen mogen geen zegellegging uitlokken, geen inventaris eisen, noch de terugbetaling vorderen van de reeds gestorte bijdragen of lidgelden.
                    li
                        span 5.13
                        | Zijn ereleden de personen of verenigingen, die verlangen de werking van de vereniging te steunen en een jaarlijkse bijdrage wensen te betalen van ten minste de helft van het lidgeld.


        .panel.panel-default
            .panel-heading
                h3.panel-title 6. Inwendige orde
            .panel-body
                ul
                    li
                        span 6.01
                        | De vliegtijden zijn vastgesteld door de stad Sint-Niklaas volgens de afgeleverde vergunning en wel als volgt: Elke woensdag en zaterdag van 13.00 uur tot 18.00 uur, zon- en feestdagen van 13.00 uur tot 19.00 uur op het voetbalterrein aan de Bergstraat te Belsele, met uitzondering van die dagen waarop er voetbaltornooien worden gespeeld.
                    li
                        span 6.02
                        | De milieuvergunning wordt verleend voor een termijn van 20 jaar, vanaf 13 augustus 2012 en omvat verder volgende bepalingen:
                    ul
                        li
                            span -
                            | Tijdens de maanden april, mei en juni is het verboden te vliegen met helikopters met ontploffingsmotoren.
                        li
                            span -
                            | Zuidkant van het terein verboden vliegzone, het is enkel toegelaten te vliegen aan de noordelijke zijde van het terrein.
                        li
                            span -
                            | Tijdens alle activiteiten dient een zichtbare afbakening van deze zone aangebracht te worden.
                        li
                            span -
                            | Volgens omzendbrief GDF-01modelluchtvaarttuigen: Volgens de voorwaarden van de Circulaire mag een modelhelikopter een maximaal geluidsniveau van 80 db(A) hebben, uitgedrukt als LAmax, slow en met de meetmethode zoals beschreven in de Circulaire (o.m. op 7 m afstand van het toestel). Het evolueren met modelluchtvaarttuigen is verboden op minder dan 200 m van een woning (tenzij met toelating van de bewoner).
                        li
                            span -
                            | het maximum toegelaten geluidsniveau werd bepaald op 80db(A).
                        li
                            span -
                            | Om veiligheidsredenen en geluidsoverlast te vermijden bedraagt:

                            ul
                                li
                                    span Tijdens normale vliegoefeningen:

                                    ul
                                        li
                                            span -
                                            | de maximum vlieghoogte bedraagt 120mt.
                                        li
                                            span -
                                            | het maximumgewicht van de modelhelikopters mag niet hoger zijn dan 5 kg.
                                        li
                                            span -
                                            | de maximale cilinderinhoud van de modelhelikopters 10cc.

                                li
                                    span Tijdens wedstrijden:

                                    ul
                                        li
                                            span -
                                            | het maximum gewicht van de modelhelikopters mag niet hoger zijn dan 10 kg.

                                        li
                                            span -
                                            | de maximale vlieghoogte van de modelhelikopters 50 m voor toestellen tussen 0-5 kg, en 10 m voor toestellen tussen 5-10 kg.
                                        li
                                            span -
                                            | het aantal wedstrijden maximum 5 per jaar, de exacte data moeten op voorhand gemeld worden aan het College van Burgemeester en Schepenen.
                                        li
                                            span -
                                            | absoluut verbod te vliegen boven personen, gebouwen, de openbare weg en boven auto’s.
                                        li
                                            span -
                                            | Maximum toegelaten toestellen in de lucht 3 aangedreven met electro ofwel 3 waarvan maximaal 1 met verbrandingsmotor binnen de toegestane tijdstippen.
                    li
                        span 6.03
                        | Andere radiobestuurde modellen zijn niet toegelaten op het terrein, vliegtuigen zijn verboden.
                    li
                        span 6.04
                        | Het is verboden personen vreemd aan de club het terrein betreden, vuil te laten liggen en beschadigingen aan de installaties of het terrein aan te brengen.
                    li
                        span 6.05
                        | Elk lid dient over zijn eigen zendfrequenties te beschikken. Om veiligheidsredenen wordt GEEN DUBBEL GEBRUIK van FREQUENTIES toegestaan. Elk laatst toegetreden lid dient bij het bestuur een vrije frequentie aan te vragen. Moedwillig storen op een reeds bezet kanaal heeft onmiddellijke uitsluiting als gevolg. Leden die met de nieuwste zenders/ontvangers op 2,4Ghz werken dienen geen frequentie aan te vragen maar dienen dit wel te melden.
                    li
                        span 6.06
                        | Landing heeft steeds voorrang. Bij een noodlanding dient het terrein onmiddellijk ontruimd te worden. Er wordt pas opnieuw gestart en gevlogen na het sein dat alles opnieuw veilig is.
                    li
                        span 6.07
                        | Bij crash of ongelukkige landing dienen alle brokstukken van het terrein verwijderd te worden. Bij beschadiging aan de eigendom van derden moet het bestuur op de hoogte gebracht worden.
                    li
                        span 6.08
                        | Het opstijgen en landen van het model dient ten alle tijde te gebeuren op minimaal ZEVEN (7) meter van de zijlijn.
                    li
                        span 6.09
                        | Alle bezoekers moeten er ten allen tijde attent op gemaakt worden dat ze zich achter de omheining moeten bevinden. Alle leden zullen verantwoordelijkheid nemen en zeker tegenover hun familie en vrienden.
                    li
                        span 6.10
                        | Indien er zich problemen voordoen met bezoekers of omwonenden zal onmiddellijk het bestuur hierover ingelicht worden.
                    li
                        span 6.11
                        | Geen enkele ervaren piloot is verplicht leerlingen op te leiden. Wie echter een monitor ter beschikking wil moet zich hiervoor wenden tot het bestuur. Ieder lid kan zich kandidaat stellen om nieuwe leden op te leiden.
                    li
                        span 6.12
                        | Elke leerling is vrij in zijn keuze van monitor(en).
                    li
                        span 6.13
                        | Wanneer een piloot zich niet houdt aan de veiligheid op het terrein kan door het bestuur een tijdelijke schorsing of volledige uitsluiting opgelegd worden.
                    li
                        span 6.14
                        | Parkeren van auto’s is VERBODEN op het vliegterrein, aan de goals en in de aanvliegroute.
                    li
                        span 6.15
                        | Elk lid dient een proef af te leggen voor het behalen van het vliegbrevet dat jaarlijks vernieuwd dient te worden. Nieuwe en beginnende piloten zullen van zodra ze voldoende hebben geoefend en hun toestel onder controle hebben deze proef moeten afleggen. De instructies voor deze proeven zijn op het infobord in de kantine aanwezig of terug te vinden op de website van de V.M.L. (
                        a(href='http://www.flytovml.com', target='_blank') www.flytovml.com
                        |). Aangestelde examinatoren in de club zijn: Verbrugge Thierry, De Maere Sacha en Den Haese Pascal.
                    li
                        span 6.16
                        | Het is de piloten verboden om tijdens het vliegen alcoholische dranken te gebruiken. De piloten die toch alcohol gebruiken mogen geen toestel meer besturen diezelfde dag.
                    li
                        span 6.17
                        | In de kantine is een algemeen rookverbod van kracht, bepaald volgens wet.
                    li
                        span 6.18
                        | Men moet voldoen aan de vigerende wetgeving


        .row
            h5.padding-top-xl.padding-bottom-l.text-center Opgemaakt te Waasmunster op 19 november 2013

        .row.padding-top-xl.padding-bottom-xl

            .col-xs-6.vdivider.padding-right-xxl
                h4.naam.text-right Thierry Verbrugge
                h6.text-right Voorzitter

            .col-xs-6.padding-left-xxl
                h4.naam Freddy Van Overloop
                h6 Secretaris
